body{
	background-image: url("Images/background.png");
	background-repeat: no-repeat;
	background-size : cover;
}

h1{
	border: 6px inset;
	border-color: red;
	border-radius:60px;
	background-color:#F7B377;
	box-shadow:6px 6px 6px red;
	width: 85%;
	margin:0 auto;
}